.container{
display:flex;
min-height:100vh;
background:linear-gradient(135deg,#0f172a,#1e293b);
color:white;
}

.sidebar{
width:230px;
background:#020617;
padding:25px;
border-right:1px solid rgba(255,255,255,0.08);
}

.logo{
font-size:20px;
font-weight:700;
margin-bottom:30px;
}

.navItem{
padding:12px;
border-radius:8px;
cursor:pointer;
margin-bottom:10px;
transition:0.2s;
}

.navItem:hover{
background:#1e293b;
}

.content{
flex:1;
padding:40px;
}